<div class="container">
  <div class="form-inline col-md-12">
    <h2>試験詳細</h2><br>
      <table class="table">
        <tbody>
          <tr>
            <td class="col-1">試験名</td>
            <td><%= @exam.name %></td>
          </tr>
          <tr>
           <tr>
            <td>試験科目</td>
              <% @exam.subjects.each do |subject| %>
                <td class="col-2 text-left"><%= subject.name %></td>
              <%end%>
          </tr>
          <tr>
            <td>試験難易度</td>
           <td> <div id="star-rate<%= @exam.id %>"></div></td>
            <script>
              $('#star-rate<%= @exam.id%>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                half      : false,
                readOnly: true,
                score: <%= @exam.level %>,
              });
            </script>
          </tr>
          <tr>
            <td>試験説明</td>
            <td class="col-3"><%= @exam.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @exam.genre.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>