<div class="container">
  <div class="col-md-12 offset-md-6 mx-auto">
    <%= form_for(@exams, url: admins_exams_path) do |f| %>
    <h2>試験新規登録</h2>
    <br><br><br>
      <div class="col-md-8 offset-md-2 ">
        <table class="new-form-table">
          <tbody>
            <tr>
              <th>試験名</th>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>

            <tr>
              <th>試験難易度</th>
              <td><div class="form-group row" id="star">
                  <%= f.hidden_field :level, class:'col-md-10 col-form-label' %>
                  </div>

                  <!-- 評価javascript -->
                  <script>
                  $('#star').raty({
                    size     : 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',

                    scoreName: 'level[star]',
                    half: false,
                  });
                  </script>
              </td>
            </tr>

            <tr>
              <th>試験説明</th>
              <td><%= f.text_area :introduction, class: "form-control",size: "30x10" %></td>
            </tr>

            <tr>
              <th>ジャンル</th>
              <td><%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %></td>
            </tr>
          </tbody>
        </table>

        <div class="text-right">
        <%= f.submit "新規登録" ,class: "btn btn-primary text-right" %>
        </div>
        </div>
        <% end %>
    </div>
  </div>
</div>